.clearfix{
    clear: both;
}
/**** Start genarell ****/
/**** Start Content ****/
#content {
    float: left;
}

.header {
    background: blue
}
/**** End Content ****/

/**** Start Right side ****/
#rightSide {
    float: right;
}
/**** End Right side ****/