
body {
    background: #f4f5fa;
    background-color: #f4f5fa;
}
.header {
    display: block;
    overflow: visible;
    word-wrap: break-word;
}
.active {
    background-color: #e7e7e7;
}
.viewcontent{
    background-color: #f4f5fa;
}
.header-address {
    float: right;
}
.header-information {
    float: left
}
.clearfix{
    clear: both;
}
/**** Start genarell ****/
/**** Start Content ****/
#content {
    margin-top: 70px;
    background-color: white;
    padding-left: 0px !important;
    line-height: 1.42857143;
}
.w3l_banner_nav_left {
    float: left;
    width: 20%;
    background: #f5f5f5;
    box-sizing: border-box;
    height: auto;
}
.w3l_banner_nav_left .navbar-nav {
    float: none;
    margin: 0;
    border-top: 1px solid #B58F62;
    padding-left: 0;
    list-style: none;
}

.w3l_banner_nav_left .navbar {
    margin-bottom: 0;
    border: none;
    border-radius: 4px;
    position: relative;
    min-height: 50px;
    display: block;
}
.w3l_banner_nav_left .navbar-toggle .icon-bar {
    background: rebeccapurple;
}
.w3l_banner_nav_left .navbar-nav > li {
    float: none;
    background-color: #f5f5f5;
}
.w3l_banner_nav_left .nav > li {
    position: relative;
    display: block;
}
.w3l_banner_nav_left .nav > li.menu_services{
    font-size: 30;
    text-align: center;
    color: #38a7bb;
    border-bottom: 1px dotted #CDCDCD;
}
.w3l_banner_nav_left .navbar-nav > li > a {
    color: #212121;
    padding: 10px 0px 10px 40px;
    border-bottom: 1px dotted #CDCDCD;
}
.w3l_banner_nav_left .navbar-nav > li > a.detail {
    border-bottom: 5px dotted red;
    text-align: center;
    padding: 5px;
}
.w3l_banner_nav_left .navbar-nav > li > img {
    width: 100%;
    height: auto;
}
.w3l_banner_nav_left ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-size: 14px;
}
.w3l_banner_nav_right {
    float: right;
    width: 80%;
}
.w3l_banner_nav_right #pagingWrapper ul li{
    list-style: none;
    display: inline;
}
.heading {
    margin-bottom: 40px;
    margin-top: 40px;
}
.heading h2 {
    display: inline-block;
    border-bottom: solid 5px #38a7bb;
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: .06em;
    font-family: -webkit-pictograph;
    font-weight: 900;
    color:red;
    font-size: 30px;
    box-sizing: border-box;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.heading h3 {
    color: #0000ff;
}
.text-center {
    text-align: center;
}
/**** End Content ****/

/**** Start slide ****/
/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



/*jssor slider bullet skin 032 css*/
.jssorb032 {position:absolute;}
.jssorb032 .i {position:absolute;cursor:pointer;}
.jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
.jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}
/**** End  slide ****/
/**** Footer ****/
#map {
    width: 100%;
    height: 400px;
}
.map_frame {
    width: 100%;
    height: 600px;
}
#footer {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    background: ghostwhite;
}
.header_footer {
    font-size: 30px;
    margin-top: 10px;
}

/**** End Footer ****/
/**** Social icon ****/
/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Set a specific color for each brand */

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/**** End Social icon ****/
/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color:white;} 