/* Page products */
.pageProducts {
    background: white;
}
.label-page-header-tittle {
    text-align: center;
}
.page-products-content {
    margin-bottom: 25px;
    overflow: hidden;
    display: block;
    text-align: left;
    margin-bottom: 35px;
}
.page-products-content h3 {
    margin: 0px;
    height: auto;
}
.page-products-content .page-products-item {
    margin-top: -10px;
}
.page-products-postname {
    display: block;
    color: #333;
    padding: 0 0 5px;
    margin: 0;
    font-weight: bold;
    font-weight: 600;
    height: 40px;
    overflow: hidden;
}
.page-products-postname a {
    color: #333;
    font-size: 17px;
}
.page-products-image {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 10px;
    display: block;
    position: relative;
}

.page-products-detail {
    line-height: 18px;
    font-size: 13px;
    display: block;
    color: #333;
    
}
.page-products-price {
    position: absolute;
}
.click_more_products {
    height: 0px;
}
.products-items-content-page {
    height: 420px;
}
  /* End page products */

  /* Main carousel style */


/* Indicators list style */
.w3l_banner_nav_right .article-slide .carousel-indicators {
    bottom: -90px;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.w3l_banner_nav_right .carousel-inner .item {
    height: 350px;
}
.w3l_banner_nav_right .carousel-inner .mySlides {
    height: 350px;
}
.w3l_banner_nav_right .article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: auto;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 20%;
}
/* Indicators images style */
.w3l_banner_nav_right .article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: auto;
    left: 0;
    width: 100%;
}
/* Indicators active image style */
.w3l_banner_nav_right .article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
.item-products-carousel {
    width: 50%;
    float: left;
    margin: 10px;
}
.items-products-content {
    width: 47%;
    float: right;
    margin-top: 10px;
}
.items-products-content .items {
    margin-top: 20px;
}
.products-item-header {
    text-align: center;
    margin-bottom: 20px;
    color: #ff5722;
}

p > span.text {
    color: #ff5722;
}
.products-another-items-content-page {
    margin: 0px;
    margin-top: 90px;
    background: #f4f5fa;
    height: auto;
}
.products-another-items-content-page .products-another-header {
    margin: 0px;
    padding: 10px;
}
.products-another-items-content-page .products-another-content {
    width: 100%;

}
.products-another-items-content-page .products-another-items{
    width: 20%;
    height: 300px;
    display: inline-block;
    background: white;
    margin: 10px;
    text-align: center;
}
.products-another-items-content {
    height: auto;
}
.products-another-items-content-page .products-another-items a {
    height: 300px;
    display: block;
}
.products-another-items .image-lazy-loading .lazy{
    height: 150px;
    width: 100%;
}
.products-another-items .prices-item {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
    .products-another-items-content-page .products-another-items{
        width: 45% !important;
        height: 350px !important;
    }
    .products-another-items-content-page .products-another-items a {
        height: 350px !important;
    }
    .items-products-content {
        width: 45% !important;
    }
    .products-another-items .image-lazy-loading .lazy {
        height: 200px !important;
    }
}
@media screen and (max-width: 550px) {
    .products-another-items-content-page .products-another-items {
        width: 80% !important;
    }
    .items-products-content {
        width: 40% !important;
    }
}
