@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@


<html>
    <head>
        <meta charset="utf-8" />
        <meta name="Moc My Nghe" content="width=device-width"/>
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="Js/Script.js"></script>
        <link href="Css/StyleMaster.css" rel="stylesheet" type="text/css" media="all" />
        <link href="Css/StyleMyself.css" rel="stylesheet" type="text/css" media="all" />
        <link href="Css/Slider.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <title>@CurrentPage.pageTittle</title>
    </head>
    <body>
        <div class="container">
            <!-- Header -->
                <div class="col-md-12 col-xs-12 col-sm-12 header d-block bg-primary">
                    <div class="header-information">
				        <p>Tấn Cường Mộc Mỹ Nghệ - <span style="color: red;">SĐT: 0914599028;  Email: tancuong@gmail.com</span></p>	
			        </div>	
                    <div class="header-address">
                        <p>Địa chỉ: 387 Nguyễn Hữu Thọ, Cẩm Lệ, Đà Nẵng</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            <!-- End header -->
            <!-- Start navigation -->
                <div class="navigation">
                    @Html.Partial("Navigation")
                </div>
            <!-- End navigation -->
            <!-- Slider -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="carousel carousel-showmanymoveone slide" id="itemslider">
                                <div class="carousel-inner">
                                    <div class="item active">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <a href="#"><img src="Images/bantho1.jpg" class="img-responsive center-block"></a>
                                        <h4 class="text-center">MAYORAL SUKNJA</h4>
                                        <h5 class="text-center">400.000 VND</h5>
                                    </div>
                                    </div>

                                    <div class="item">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <a href="#"><img src="Images/bantho2.jpg" class="img-responsive center-block"></a>
                                        <h4 class="text-center">MAYORAL KOŠULJA</h4>
                                        <h5 class="text-center">400.000 VND</h5>
                                    </div>
                                    </div>

                                    <div class="item">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <a href="#"><img src="Images/bantho1.jpg" class="img-responsive center-block"></a>
                                        <span class="badge">10%</span>
                                        <h4 class="text-center">PANTALONE TERI 2</h4>
                                        <h5 class="text-center">400.000 VND</h5>
                                        <h6 class="text-center">500.000 VND</h6>
                                    </div>
                                    </div>

                                    <div class="item">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <a href="#"><img src="Images/bantho1.jpg" class="img-responsive center-block"></a>
                                        <h4 class="text-center">CVETNA HALJINA</h4>
                                        <h5 class="text-center">600.000 VND</h5>
                                    </div>
                                    </div>

                                    <div class="item">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <a href="#"><img src="Images/bantho1.jpg" class="img-responsive center-block"></a>
                                        <h4 class="text-center">MAJICA FOTO</h4>
                                        <h5 class="text-center">400.000 VND</h5>
                                    </div>
                                    </div>

                                    <div class="item">
                                    <div class="col-xs-12 col-sm-6 col-md-2">
                                        <a href="#"><img src="Images/bantho1.jpg" class="img-responsive center-block"></a>
                                        <h4 class="text-center">MAJICA MAYORAL</h4>
                                        <h5 class="text-center">400.000 VND</h5>
                                    </div>
                                    </div>
                                </div>
                                <!-- left,right control -->
                                <div id="slider-control">
                                    <a class="left carousel-control" href="#itemslider" data-slide="prev"><img src="arrow_left.png" alt="Left" class="img-responsive"></a>
                                    <a class="right carousel-control" href="#itemslider" data-slide="next"><img src="arrow_right.png" alt="Right" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Item slider end-->
            <!-- content -->
                <div id="content">
                    @RenderBody()
                </div>
            <!-- Endcontent -->
            <!-- RightSide -->
                <div id="rightSide">
                    <div class="category_header">
                        <href="javascript:void(0);" title="Dự án mới nhất">
                            <h2> Dự án mới nhất</h2>
                            <span></span>
                    </div>
                </div>
                <div class="clearfix"></div>
            <!-- End rightSide -->

            <!-- Footer -->
                <div id="footer"></div>
            <!-- End footer -->
        </div>
        <script type="text/javascript">$(document).ready(function() 
            {
                $('#itemslider').carousel( {
                    interval: 3000
                }
                );
                $('.carousel-showmanymoveone .item').each(function() 
                {
                    var itemToClone=$(this);
                    for (var i=1; i<6; i++) 
                    {
                        itemToClone=itemToClone.next();
                        if (!itemToClone.length) 
                        {
                            itemToClone=$(this).siblings(':first');
                        }
                        itemToClone.children(':first-child').clone() .addClass("cloneditem-"+(i)) .appendTo($(this));
                    }
                });
            });
        </script>
    </body>
</html>