@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SanPhamItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="w3l_banner_nav_right products-items">
	<div class="items-product-image">
		<img src="/images/dogo.jpg" width="400" height="300"/>
	</div>
	<div class="items-products-content">
		<div class="items-product-title">
			<p>Đồ gõ hàng chính hiệu</p>
		</div>
		<div class="items-products-detail">
			<p>Mô tả</p>
			<p>Giá: 3 000 000</p>
			<p>Liên hệ: 0935.599.566</p>
		</div>
	</div>
</div>