@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SanPhamItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="w3l_banner_nav_right products-items">
	<div class="products-item-header">
		<h3>Tên tiêu đề của sản phẩm</h3>
	</div>
	<div class="carousel slide article-slide item-products-carousel" id="article-photo-carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner cont-slider">

			<div class="item active">
				<img class="mySlides" src="/images/dogo.jpg" width="600" height="400" />
			</div>
			<div class="item">
				<img class="mySlides" src="/images/dogo.jpg" width="600" height="400"  />
			</div>
			<div class="item">
				<img class="mySlides" src="/images/dogo.jpg" width="600" height="400"  />
			</div>
			<div class="item">
				<img class="mySlides" src="/images/dogo.jpg" width="600" height="400" />
			</div>
		</div>
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li class="active" data-slide-to="0" data-target="#article-photo-carousel">
				<img class="mySlides" src="/images/dogo.jpg" width="100%" height="auto" />
			</li>
			<li class="" data-slide-to="1" data-target="#article-photo-carousel">
				<img class="mySlides" src="/images/dogo.jpg" width="100%" height="auto"/>
			</li>
			<li class="" data-slide-to="2" data-target="#article-photo-carousel">
				<img class="mySlides" src="/images/dogo.jpg" width="100%" height="auto"/>
			</li>
			<li class="" data-slide-to="3" data-target="#article-photo-carousel">
				<img class="mySlides" src="/images/dogo.jpg" width="100%" height="auto" />
			</li>
		</ol>
	</div>
	<div class="items-products-content">
		<div class="items-product-title">
			<p>Đồ gỗ hàng chính hiệu</p>
		</div>
		<div class="items-products-detail">
			<p>Mô tả</p>
			<p>Giá: 3 000 000</p>
			<p>Liên hệ: 0935.599.566</p>
		</div>
	</div>
</div>