@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@
 <div class="heading text-center w3l_banner_nav_right">
	<h2><b>Cơ sở Mộc Mỹ Nghệ Tấn Cường</b></h2>
	<h3><i>Hotline: 093.505.6445</i></h3>
	<h3><i>Địa Chỉ: 387 Nguyễn Hữu Thọ -  Quận Hải Châu - TP. Đà Nẵng.</i></h3><br>
	<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
		Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
		Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
		Check our blog!</p>
	<div class="products">
		<h2 class="heading text-center">Danh mục sản phẩm</h2>
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="box-image-text blog">
					<div class="top">
						<div class="image">
							<img src="/images/featured1.jpg" alt="" class="img-responsive">
						</div>
					</div>
					<div class="content">
						<h4><a href="blog-post.html">Fashion now</a></h4>
						<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
						</p>
						<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
						<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
						</p>
					</div>
				</div>
				<!-- /.box-image-text -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-image-text blog">
					<div class="top">
						<div class="image">
							<img src="/images/featured1.jpg" alt="" class="img-responsive">
						</div>
					</div>
					<div class="content">
						<h4><a href="blog-post.html">Fashion now</a></h4>
						<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
						</p>
						<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
						<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
						</p>
					</div>
				</div>
				<!-- /.box-image-text -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-image-text blog">
					<div class="top">
						<div class="image">
							<img src="/images/featured1.jpg" alt="" class="img-responsive">
						</div>
					</div>
					<div class="content">
						<h4><a href="blog-post.html">Fashion now</a></h4>
						<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
						</p>
						<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
						<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
						</p>
					</div>
				</div>
				<!-- /.box-image-text -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-image-text blog">
					<div class="top">
						<div class="image">
							<img src="/images/featured1.jpg" alt="" class="img-responsive">
						</div>
					</div>
					<div class="content">
						<h4><a href="blog-post.html">Fashion now</a></h4>
						<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
						</p>
						<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
						<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
						</p>
					</div>
				</div>
				<!-- /.box-image-text -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-image-text blog">
					<div class="top">
						<div class="image">
							<img src="/images/featured1.jpg" alt="" class="img-responsive">
						</div>
					</div>
					<div class="content">
						<h4><a href="blog-post.html">Fashion now</a></h4>
						<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
						</p>
						<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
						<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
						</p>
					</div>
				</div>
				<!-- /.box-image-text -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-image-text blog">
					<div class="top">
						<div class="image">
							<img src="/images/featured1.jpg" alt="" class="img-responsive">
						</div>
					</div>
					<div class="content">
						<h4><a href="blog-post.html">Fashion now</a></h4>
						<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
						</p>
						<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
						<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
						</p>
					</div>
				</div>
				<!-- /.box-image-text -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-image-text blog">
					<div class="top">
						<div class="image">
							<img src="/images/featured1.jpg" alt="" class="img-responsive">
						</div>
					</div>
					<div class="content">
						<h4><a href="blog-post.html">Fashion now</a></h4>
						<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
						</p>
						<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
						<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
						</p>
					</div>
				</div>
				<!-- /.box-image-text -->
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="box-image-text blog">
					<div class="top">
						<div class="image">
							<img src="/images/featured1.jpg" alt="" class="img-responsive">
						</div>
					</div>
					<div class="content">
						<h4><a href="blog-post.html">Fashion now</a></h4>
						<p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a>
						</p>
						<p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
						<p class="read-more"><a href="blog-post.html" class="btn btn-template-main">Continue reading</a>
						</p>
					</div>
				</div>
				<!-- /.box-image-text -->
			</div>
		</div>
	</div>
</div>
