<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT tra ANY>
<!ATTLIST tra id ID #REQUIRED>
<!ELEMENT sanPham ANY>
<!ATTLIST sanPham id ID #REQUIRED>
]>
<root id="-1">
  <tra id="1065" key="f5ded727-9f6a-4ec9-b333-c65b09da398d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-10T22:55:56" updateDate="2018-12-06T17:18:54" nodeName="Trang chủ" urlName="trang-chu" path="-1,1065" isDoc="" nodeType="1064" creatorName="vietvu" writerName="vietvu" writerID="0" template="1061" nodeTypeAlias="tra" isPublished="true">
    <pageTittle><![CDATA[Trang chủ]]></pageTittle>
    <diaChi><![CDATA[387, Nguyễn Hữu Thọ, P. Khuê Trung, Q. Cẩm Lệ, Tp. Đà Nẵng]]></diaChi>
    <gallery><![CDATA[umb://media/d3fd153f355146e69b119401d7afb4ef,umb://media/2b9f2bd86e3a45bbbb54d28246ad0154,umb://media/fa9a4c2c459f4dc9a73d2b8eec6cb4d3]]></gallery>
    <soDienThoai><![CDATA[0935.056.445]]></soDienThoai>
    <sanPham id="1080" key="8251698e-9102-4546-8d45-4feb2de9a821" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2018-12-06T15:26:53" updateDate="2018-12-06T16:20:57" nodeName="Bàn" urlName="ban" path="-1,1065,1080" isDoc="" nodeType="1070" creatorName="vietvu" writerName="vietvu" writerID="0" template="1066" nodeTypeAlias="sanPham" isPublished="true">
      <pageTittle><![CDATA[Bàn]]></pageTittle>
    </sanPham>
    <sanPham id="1081" key="b94937bd-48ba-4079-82c9-ffa6066ba018" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2018-12-06T15:27:06" updateDate="2018-12-06T16:20:57" nodeName="Ghế" urlName="ghe" path="-1,1065,1081" isDoc="" nodeType="1070" creatorName="vietvu" writerName="vietvu" writerID="0" template="1066" nodeTypeAlias="sanPham" isPublished="true">
      <pageTittle><![CDATA[Ghế]]></pageTittle>
    </sanPham>
    <sanPham id="1082" key="c63db0d4-9751-4dbc-9c26-03c175b6bb40" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2018-12-06T15:27:20" updateDate="2018-12-06T16:20:57" nodeName="Sản phẩm khác" urlName="san-pham-khac" path="-1,1065,1082" isDoc="" nodeType="1070" creatorName="vietvu" writerName="vietvu" writerID="0" template="1066" nodeTypeAlias="sanPham" isPublished="true">
      <pageTittle><![CDATA[Sản phẩm khác]]></pageTittle>
    </sanPham>
  </tra>
</root>