<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT tra ANY>
<!ATTLIST tra id ID #REQUIRED>
<!ELEMENT sanPham ANY>
<!ATTLIST sanPham id ID #REQUIRED>
]>
<root id="-1">
  <tra id="1065" key="f5ded727-9f6a-4ec9-b333-c65b09da398d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-10T22:55:56" updateDate="2018-10-13T20:35:14" nodeName="Trang chủ" urlName="trang-chủ" path="-1,1065" isDoc="" nodeType="1064" creatorName="vietvu" writerName="vietvu" writerID="0" template="1061" nodeTypeAlias="tra" isPublished="true">
    <pageTittle><![CDATA[Trang chủ]]></pageTittle>
    <sanPham id="1076" key="f66218a5-1921-4d7b-b6bb-5a9c74e4402f" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2018-10-13T20:35:00" updateDate="2018-10-13T20:35:00" nodeName="San Pham" urlName="san-pham" path="-1,1065,1076" isDoc="" nodeType="1070" creatorName="vietvu" writerName="vietvu" writerID="0" template="1066" nodeTypeAlias="sanPham" isPublished="true">
      <pageTittle><![CDATA[San Pham]]></pageTittle>
    </sanPham>
  </tra>
</root>