<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT tinTucItem ANY>
<!ATTLIST tinTucItem id ID #REQUIRED>
<!ELEMENT tinTuc ANY>
<!ATTLIST tinTuc id ID #REQUIRED>
<!ELEMENT sanPhamItem ANY>
<!ATTLIST sanPhamItem id ID #REQUIRED>
<!ELEMENT dichVuItem ANY>
<!ATTLIST dichVuItem id ID #REQUIRED>
<!ELEMENT dichVu ANY>
<!ATTLIST dichVu id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT tra ANY>
<!ATTLIST tra id ID #REQUIRED>
<!ELEMENT sanPham ANY>
<!ATTLIST sanPham id ID #REQUIRED>
]>
<root id="-1">
  <tra id="1065" key="f5ded727-9f6a-4ec9-b333-c65b09da398d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-07-10T22:55:56" updateDate="2018-12-07T23:52:26" nodeName="Trang chủ" urlName="trang-chu" path="-1,1065" isDoc="" nodeType="1064" creatorName="vietvu" writerName="vietvu" writerID="0" template="1061" nodeTypeAlias="tra" isPublished="true">
    <pageTittle><![CDATA[Trang chủ]]></pageTittle>
    <noiDung><![CDATA[<p><span style="color: #9e1b32;"><strong>Cơ sở Mộc Mỹ Nghệ Tấn Cường</strong></span> ra đời với đội ngũ nhân viên thiết kế, kỹ thuật giàu kinh nghiệm sáng tạo và luôn tâm huyết với nghề để tạo ra những sản phẩm tâm hoàn hảo nhất.</p>
<p><img style="width: 500px; height: 375px; display: block; margin-left: auto; margin-right: auto;" src="/media/1006/dogo.jpg?width=500&amp;height=375" alt="" data-udi="umb://media/dfe74cddee374daba9dd65468d6a7198" /></p>
<p>Chất lượng sản phẩm và yêu cầu của khách hàng được đặt lên hàng đầu, một giải pháp hoàn hảo về đồ gỗ trang trí nội thất với vẻ đẹp tự nhiên, để khách hàng luôn tự hào về tính thẩm mĩ và sự lựa chọn đúng đắn của mình. Vì vậy đến với Cơ Sở Mộc Mỹ Nghệ Cao Cấp Tấn Cướng quý khách hàng sẽ cảm thấy hài lòng khi sử dụng dịch vụ và sản phẩm của chúng tôi.</p>]]></noiDung>
    <gallery><![CDATA[1087,1088,1089,1093]]></gallery>
    <diaChi><![CDATA[387, Nguyễn Hữu Thọ, P. Khuê Trung, Q. Cẩm Lệ, Tp. Đà Nẵng]]></diaChi>
    <soDienThoai><![CDATA[0935.056.445]]></soDienThoai>
    <sanPham id="1082" key="c63db0d4-9751-4dbc-9c26-03c175b6bb40" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2018-12-06T15:27:20" updateDate="2018-12-08T15:02:54" nodeName="Sản phẩm" urlName="san-pham" path="-1,1065,1082" isDoc="" nodeType="1070" creatorName="vietvu" writerName="vietvu" writerID="0" template="1066" nodeTypeAlias="sanPham" isPublished="true">
      <pageTittle><![CDATA[Sản phẩm]]></pageTittle>
      <sanPhamItem id="1110" key="353d7399-ba3a-4db9-98e4-47768ac6f9a1" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2018-12-08T15:20:18" updateDate="2018-12-08T16:22:48" nodeName="Bàn gỗ" urlName="ban-go" path="-1,1065,1082,1110" isDoc="" nodeType="1109" creatorName="vietvu" writerName="vietvu" writerID="0" template="1108" nodeTypeAlias="sanPhamItem" isPublished="true">
        <gia><![CDATA[3 000 000]]></gia>
        <moi>1</moi>
        <tittle><![CDATA[Bàn gỗ thế hệ mới]]></tittle>
        <hinhAnh><![CDATA[umb://media/247b0f98de2e4cfab54585b5287a9437]]></hinhAnh>
        <moTa><![CDATA[Đây là một sản phẩm mới nhất của cơ sở, được sản xuât với đội ngũ kỹ thuật viên chuyên nghiệp cùng với giá cả phải chăng]]></moTa>
      </sanPhamItem>
      <sanPhamItem id="1115" key="956460d4-ddea-4db7-a72a-cccb2642429c" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2018-12-08T16:07:13" updateDate="2018-12-08T16:22:55" nodeName="Ghế gỗ" urlName="ghe-go" path="-1,1065,1082,1115" isDoc="" nodeType="1109" creatorName="vietvu" writerName="vietvu" writerID="0" template="1108" nodeTypeAlias="sanPhamItem" isPublished="true">
        <gia><![CDATA[5 000 000]]></gia>
        <moi>1</moi>
        <tittle><![CDATA[Ghế gỗ mới]]></tittle>
        <hinhAnh><![CDATA[umb://media/b69d8f41b286499c819423b134020071]]></hinhAnh>
        <moTa><![CDATA[Đây là một sản phẩm mới nhất của cơ sở, được sản xuât với đội ngũ kỹ thuật viên chuyên nghiệp cùng với giá cả phải chăng]]></moTa>
      </sanPhamItem>
      <sanPhamItem id="1116" key="a028e995-93b3-42cb-a644-ee7750ce01aa" parentID="1082" level="3" creatorID="0" sortOrder="2" createDate="2018-12-08T16:07:41" updateDate="2018-12-08T16:07:41" nodeName="Tủ gỗ" urlName="tu-go" path="-1,1065,1082,1116" isDoc="" nodeType="1109" creatorName="vietvu" writerName="vietvu" writerID="0" template="1108" nodeTypeAlias="sanPhamItem" isPublished="true">
        <gia><![CDATA[4 000 000]]></gia>
        <tittle><![CDATA[Tủ gỗ mới]]></tittle>
        <hinhAnh><![CDATA[umb://media/247b0f98de2e4cfab54585b5287a9437]]></hinhAnh>
        <moTa><![CDATA[Đây là một sản phẩm mới nhất của cơ sở, được sản xuât với đội ngũ kỹ thuật viên chuyên nghiệp cùng với giá cả phải chăng]]></moTa>
      </sanPhamItem>
      <sanPhamItem id="1117" key="6a0bb47c-637f-4875-8e15-adf7fa527391" parentID="1082" level="3" creatorID="0" sortOrder="3" createDate="2018-12-08T16:08:12" updateDate="2018-12-10T21:51:34" nodeName="Bàn thờ" urlName="ban-tho" path="-1,1065,1082,1117" isDoc="" nodeType="1109" creatorName="vietvu" writerName="vietvu" writerID="0" template="1108" nodeTypeAlias="sanPhamItem" isPublished="true">
        <gia><![CDATA[3 000 000]]></gia>
        <moi>1</moi>
        <tittle><![CDATA[Bàn thờ mới]]></tittle>
        <hinhAnh><![CDATA[umb://media/b69d8f41b286499c819423b134020071]]></hinhAnh>
        <moTa><![CDATA[Đây là một sản phẩm mới nhất của cơ sở, được sản xuât với đội ngũ kỹ thuật viên chuyên nghiệp cùng với giá cả phải chăng]]></moTa>
      </sanPhamItem>
    </sanPham>
    <dichVu id="1101" key="5cc504bf-1452-47b1-9e61-acf01264d925" parentID="1065" level="2" creatorID="0" sortOrder="4" createDate="2018-12-08T14:57:34" updateDate="2018-12-08T14:57:34" nodeName="Dịch Vụ" urlName="dich-vu" path="-1,1065,1101" isDoc="" nodeType="1096" creatorName="vietvu" writerName="vietvu" writerID="0" template="1095" nodeTypeAlias="dichVu" isPublished="true">
      <pageTittle><![CDATA[Danh Sách Dịch Vụ]]></pageTittle>
      <dichVuItem id="1102" key="73393a8e-26bc-47b3-bcc9-036fa7f80ae8" parentID="1101" level="3" creatorID="0" sortOrder="0" createDate="2018-12-08T14:58:22" updateDate="2018-12-08T14:58:22" nodeName="Sơn son thiếp vàng" urlName="son-son-thiep-vang" path="-1,1065,1101,1102" isDoc="" nodeType="1100" creatorName="vietvu" writerName="vietvu" writerID="0" template="1099" nodeTypeAlias="dichVuItem" isPublished="true" />
      <dichVuItem id="1103" key="46947d32-9325-4a9f-820d-7ae681e87bf5" parentID="1101" level="3" creatorID="0" sortOrder="1" createDate="2018-12-08T15:03:14" updateDate="2018-12-08T15:03:14" nodeName="Tư vấn, thiết kế" urlName="tu-van-thiet-ke" path="-1,1065,1101,1103" isDoc="" nodeType="1100" creatorName="vietvu" writerName="vietvu" writerID="0" template="1099" nodeTypeAlias="dichVuItem" isPublished="true" />
      <dichVuItem id="1104" key="503deed3-3324-493a-aefc-cc2f5cc71ad5" parentID="1101" level="3" creatorID="0" sortOrder="2" createDate="2018-12-08T15:03:26" updateDate="2018-12-08T15:03:26" nodeName="Bảo trì, bảo dưỡng" urlName="bao-tri-bao-duong" path="-1,1065,1101,1104" isDoc="" nodeType="1100" creatorName="vietvu" writerName="vietvu" writerID="0" template="1099" nodeTypeAlias="dichVuItem" isPublished="true" />
      <dichVuItem id="1105" key="b28bbb71-d9db-42a0-8209-535af22943f7" parentID="1101" level="3" creatorID="0" sortOrder="3" createDate="2018-12-08T15:03:52" updateDate="2018-12-08T15:03:52" nodeName="Phục hồi đồ cổ" urlName="phuc-hoi-do-co" path="-1,1065,1101,1105" isDoc="" nodeType="1100" creatorName="vietvu" writerName="vietvu" writerID="0" template="1099" nodeTypeAlias="dichVuItem" isPublished="true" />
      <dichVuItem id="1106" key="fd090af8-791d-47fd-a46f-5871cb89b429" parentID="1101" level="3" creatorID="0" sortOrder="4" createDate="2018-12-08T15:05:06" updateDate="2018-12-08T15:05:06" nodeName="Sửa chửa tận nhà" urlName="sua-chua-tan-nha" path="-1,1065,1101,1106" isDoc="" nodeType="1100" creatorName="vietvu" writerName="vietvu" writerID="0" template="1099" nodeTypeAlias="dichVuItem" isPublished="true" />
      <dichVuItem id="1107" key="59486f52-d237-4b0f-9258-eb6e64a2904c" parentID="1101" level="3" creatorID="0" sortOrder="5" createDate="2018-12-08T15:05:17" updateDate="2018-12-08T15:05:25" nodeName="Lắp rắp đồ gỗ" urlName="lap-rap-do-go" path="-1,1065,1101,1107" isDoc="" nodeType="1100" creatorName="vietvu" writerName="vietvu" writerID="0" template="1099" nodeTypeAlias="dichVuItem" isPublished="true" />
    </dichVu>
    <tinTuc id="1123" key="e4a64fdd-e9e2-46bd-8768-282218e2c129" parentID="1065" level="2" creatorID="0" sortOrder="5" createDate="2018-12-10T21:57:40" updateDate="2018-12-10T21:57:40" nodeName="Tin tức" urlName="tin-tuc" path="-1,1065,1123" isDoc="" nodeType="1120" creatorName="vietvu" writerName="vietvu" writerID="0" template="1119" nodeTypeAlias="tinTuc" isPublished="true">
      <tinTucItem id="1124" key="6bc34ef5-ba22-42af-93c1-aaf00c893801" parentID="1123" level="3" creatorID="0" sortOrder="0" createDate="2018-12-10T21:57:57" updateDate="2018-12-10T21:57:57" nodeName="Lắp đặt bàn gỗ" urlName="lap-dat-ban-go" path="-1,1065,1123,1124" isDoc="" nodeType="1122" creatorName="vietvu" writerName="vietvu" writerID="0" template="1121" nodeTypeAlias="tinTucItem" isPublished="true" />
      <tinTucItem id="1125" key="d659e907-9f75-4152-a2e8-48d8517d00a2" parentID="1123" level="3" creatorID="0" sortOrder="1" createDate="2018-12-10T21:58:11" updateDate="2018-12-10T21:58:11" nodeName="Vận chuyển bàn thờ" urlName="van-chuyen-ban-tho" path="-1,1065,1123,1125" isDoc="" nodeType="1122" creatorName="vietvu" writerName="vietvu" writerID="0" template="1121" nodeTypeAlias="tinTucItem" isPublished="true" />
    </tinTuc>
  </tra>
</root>